<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		
  </head>
  <body>
    <div id="wrapper">
      <table id="table" class="table" sortable="checked">
        <thead>
          <tr>
             <th scope="col">선택</th>
            <th scope="col">배송지</th>
            <th scope="col">배송주소</th>
            <th scope="col">우편번호</th>
            <th scope="col">전화번호</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row"><input type="checkbox" name="color" value="blue"></td>
            <td><a style="color:#212529" href="/admin/item/1">시타델</a></td>
            <td>35,000</td>
            <td>1</td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>뱅</td>
            <td>23,000</td>
            <td>3</td>
          </tr>
          <tr >
            <td scope="row">3</td>
            <!-- <td colspan="2">딕시트</td> colspan은 열 두 칸 차지--> 
            <td>딕시트</td>
            <td>13,000</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>