<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
    <style>
      html, body{
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        
      }
      .menu_list_div{
        height: 100%;
        width: 350px;
      }
      .main_content_div{
        height: 100%;
        width: calc(100% - 350px);
      }
     
    </style>
  </head>
  <body>
    <% include partials/admin_list %>
    <div class="menu_list_div">
      <ol>
        <li onclick="">
          이벤트/광고 관리
        </li>
        <li onclick="">
          상품 관리
        </li>
      </ol>
    </div>
    <div class="main_content_div"></div>
  </body>
</html>
