<div class="footer-layer">
    <div class="d-flex flex-row justify-content-center">
        <span class="extra"><a href="/">홈</a></span> <span class="divider"></span> <span class="extra"><a
                    href="/info#introduce">회사소개</a></span> <span class="divider"></span> <span class="extra"><a
                    href="/info#policy">이용약관</a></span> <span class="divider"></span> <span class="extra"><a href="/info#information">개인정보 취급방침</a></span>
        <span class="divider"></span> <span class="extra"><a href="/">이용안내</a></span> <span class="divider"></span>
        <span class="extra"><a href="/">고객센터</a></span>
    </div>
</div>
<hr>
<div class="footer-layer">
    <div class="d-flex flex-row justify-content-center">
        <div class="p-4">
            <h1><a href="/" title="LOGO">QUICKBOARD</a></h1>
        </div>
        <div class="p-4">
            퀵보드 | 보드게임 전문 쇼핑몰<br>
            서울특별시 노원구 공릉동 공릉로 232 <br>
        </div>
        <div class="p-4">
            소프트웨어공학 4팀<br>
            김도은, 김용래, 조규진, 조현수<br>
        </div>
        <div class="p-4">
            <a href="https://github.com/usageness/SE_TEAM_04">github</a>
        </div>
    </div>

    <div class="footer-last">
        Contact : admin@quickboard.com<br>
        Copyright © QuickBoard Corp. 2020-2021 All Rights Reserved.
    </div>
</div>
