body {
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    position: relative;
}

a {
    color: #00B7FF;
}


table {
}


is-pulled-right {
    float: right !important;
}

is-pulled-left {
    float: left !important
}

box {
    float: left;
    width: auto;
    height: 500px;
    position: relative;
}

front {
    position: absolute;
    right: 30px;
    top: 50px;
}

back {
    position: absolute;
    right: 0px;
    top: 0px;
}

