body {
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    position: relative;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

.header-form {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header-signup {
    padding: .5rem 1rem;
}

.carousel-inner > .carousel-item > img { /* width: 640px; height: 720px; */
}

.is-pulled-right {
    float: right !important;
}

.is-pulled-left {
    float: left !important
}

.box {
    float: left;
    position: relative;
}

.front {
    position: absolute;
    right: 30px;
    top: 50px;
}

.back {
    right: 0;
    top: 0;
}

.list-group {
    width: 100px;
}

.bd-highlight .bd-highlight{
    background-color: white;
}
.product-button {
    border: 1px solid #EEEEEE;
}

.product-button:hover {
    border: 1px solid skyblue;
}

h1 a {
    display: block;
    background: url("https://user-images.githubusercontent.com/28296575/116252085-34f9d800-a7aa-11eb-9520-7660e5eda285.png") no-repeat;
    background-size: 89px;
    width: 109px;
    text-indent: -99em;
}

.divider {
    color: #cccccc;
    margin: 0 .5rem;
}

.footer-last {
    background-color: #333333;
    color: #EEEEEE;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100% !important;
}

input {
    max-width: 100% !important;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.carousel-inner{
    width: 100%;
    height: 30rem;
}

.sortby {
    background-color: #fafafa;
    padding: 5px 20px;
    margin: 10px 0;
    font-size: 10pt;
}

.sortby>a {
    color: #000000;
    text-decoration: none;
}

.sortby>a:hover {
    color: #00B7FF;
}

.product-list {
}

.card {
    margin: 10px;
}

.price {
    color: #ae0000;
    font-weight: bold;
}

.passwordInfo {
    color: #999999;
    font-size: .8rem;
}
