body {
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    position: relative;
}

a {
    color: #00B7FF;
}

.carousel-inner > .carousel-item > img { /* width: 640px; height: 720px; */
}

.is-pulled-right {
    float: right !important;
}

.is-pulled-left {
    float: left !important
}

.box {
    float: left;
    position: relative;
}

.front {
    position: absolute;
    right: 30px;
    top: 50px;
}

.back {
    right: 0px;
    top: 0px;
}

.list-group {
    width: 100px;
}

.bd-highlight .bd-highlight{
    background-color: white;
}
.product-button img{
    border: 1px solid #EEEEEE;
}

.product-button img:hover {
    border: 1px solid skyblue;
}

h1 a {
    display: block;
    background: url("../images/QBD_logo.png") no-repeat;
    background-size: 89px;
    width: 109px;
    text-indent: -99em;
}

.divider {
    content: "|";
    margin: 0 1rem;
}

.footer-last {
    background-color: #333333;
    color: #EEEEEE;
    text-align: center;
    padding: 20px;
}
